02.Back-end Advanced/02.Database -apps/XMLHomework/BasicConcepts/Students.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element  name="students" >
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="gender" type="xs:string" />
              <xs:element name="birth-date" type="xs:date" />
              <xs:element name="phone-number" type="xs:long" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="university" type="xs:string" />
              <xs:element name="specialty" type="xs:string" />
              <xs:element name="faculty-number" type="xs:unsignedInt" />

              <xs:element name="taken-exams" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="exam-name" type="xs:string" />
                    <xs:element name="date-taken" type="xs:date" />
                    <xs:element name="grade" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="endorsements" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="author-name" maxOccurs="1" minOccurs="1" type="xs:string"/>
                    <xs:element name="author-email" minOccurs="1" maxOccurs="1" type="xs:string"/>
                    <xs:element name="endorsment-date" minOccurs="1" maxOccurs="1" type="xs:date"/>
                    <xs:element name="endorsment-text" minOccurs="1" maxOccurs="1" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>